  <h1>CONTACTO</h1> 
<div class="container">               
       
            <div>   
              <label><h2>Nombre</h2></label>   
              <h3> <%= @contact.nombre %> </h3>  
            </div>   
  
            <div>   
              <label><h2>Apellido</h2></label>   
             <h3> <%= @contact.apellidos %>  </h3> 
            </div>   
            
            <div>   
              <label><h2>Calle</h2></label>   
            <h3>  <%= @contact.calle %></h3>   
            </div>   
         
      <div>   
        <%= link_to 'Back', { controller: 'contact', action: 'index'} %>
        
            
 
      </div>   
</div>


<script type="text/javascript">
 
window.onload = function()
{
    if (window.jQuery)
    {
        alert('jQuery is loaded');
    }
    else
    {
        alert('jQuery is not loaded');
    }
}
</script>